* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 1em;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 75%;
  display: flex;
  align-items: center;
}

#body-results {
  padding-top: 21px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: .75em;
}

p {
  font-size: .65em;
  margin: 0;
}

input[type="button"]:hover {
  cursor: pointer;
}

header[role="banner"] {
  text-align: center;
  padding: 5px;
}

#js-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#js-form * {
  margin: 2px;
}

#js-form label {
  margin-right: 130px;
}

#js-form input {
  padding: 5px;
  width: 185px;
  height: 35px;
  border-radius: 5px;
}

#js-form input[type="text"] {
  border: 1px solid rgb(195, 207, 217);
  margin-bottom: 20px;
}

#js-form input[type="submit"] {
  background-color: rgb(101, 88, 245);
  color: white;
  border: 1px solid rgb(101, 88, 245)
}

#js-form input[type="submit"]:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

nav ul {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

li input[type="button"] {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  display: flex;
  flex: 1;
}

/* Change the link color on hover */
li input[type="button"]:hover {
  background-color: #555;
  color: white;
}

main[role="main"] {
  margin: 0 auto;
}

.error-message {
  color: red;
}

#search-results header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 40px;
}

#search-results header h1 {
  text-align: center;
}

#search-results header nav {
  display: flex;
  align-self: flex-end;
}

#list-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#list-results li img {
  height: 120px;
  width: 100%;
}

#list-results li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(195, 207, 217);
  max-width: 45%;
  margin-bottom: 10px;
  contain: content;
  padding-top: 2px;
}

#list-results li *:hover {
  cursor: pointer;
}

#video-results header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2px 5px 0px 0px;
}

@media screen and (max-width: 250px) {
  #list-results li img {
    height: 70px;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 1.25em;
  }

  #js-form label {
    margin-right: 115px;
  }

  #list-results li img {
    height: 120px;
    width: 70%;
    min-width: 160px;
    max-width: 185px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 1.5em;
  }

  #js-form label {
    margin-right: 110px;
  }

  #list-results li img {
    height: 140px;
    width: 60%;
    max-width: 220px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 1.75em;
  }

  #js-form label {
    margin-right: 100px;
  }

  #list-results li {
    max-width: 650px;
    max-height: 279px;
  }

  #list-results li img {
    height: 150px;
    width: 220px;
  }

  nav {
    margin-right: 20px;
  }

  input[type="button"] {
    height: 30px;
    width: 75px;
  }
}